all:
  vars:
    ansible_connection: ssh
    ansible_user: bilbo
    ansible_ssh_pass: insecure_password
    ansible_port: 22

myhosts:
  hosts:
    my_host_01:
      ansible_host: ansible_host_0
    my_host_02:
      ansible_host: ansible_host_1
    my_host_03:
      ansible_host: ansible_host_2